<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../../static/css/foundation.css">
    <link rel="stylesheet" href="../../static/css/app.css">
</head>
<body>
<style>
    .container {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

</style>

<div class="container">
    <div class="card"  style="width: 300px;padding: 16px">
        <div class="card-section">
            <h4>注册</h4>
        </div>
        <input type="text" placeholder="用户名">
        <input type="password" placeholder="密码">
        <input type="password" placeholder="再次输入密码">

        <button class="hollow button">注册</button>
        <button class="hollow button secondary">取消</button>
    </div>
</div>

</body>
</html>