<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>注册</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<style>
    .container {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

</style>

<div class="container">
    <form method="post" th:action="@{/register}">
        <div class="card"  style="width: 300px;padding: 16px">
            <div class="card-section">
                <h4>注册</h4>
            </div>
            <input type="text" name="username" placeholder="用户名"/>
            <input type="password" name="password" placeholder="密码"/>
            <input type="password" name="pwd_again" placeholder="再次输入密码"/>
            <button type="submit" class="hollow button">注册</button>
            <a href="/login" class="hollow button secondary">取消</a>
        </div>
    </form>
</div>

</body>
</html>